<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>ContosoPets - .FromSqlRaw() example</Title>
            <Shortcut>sqlraw</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA["SELECT * FROM dbo.Products WHERE Price > 7"]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>